body{
	font-size: 25px;
	font-weight: bold;
	background: #b3bc20;
}
.box1{
	width: 240px;
	height: 240px;
	background: url("../img/1.jpg") no-repeat;
}
.box2{
	width: 128px;
	height: 53px;
	background: url("../img/2.png") no-repeat;
}